# Byte-compiled / cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Logs and DBs
logs/
*.db

# Environment
.env
.venv/

# Mac system files
.DS_Store

# Misc
*.parquet
*.csvairflow_home/

# Airflow
airflow_home/airflow.db
airflow_home/logs/

# Great Expectations
great_expectations/uncommitted/